<h1> Rate Feedbacks </h1>
<div ng-controller="FeedbackIndexController">
  <table dir-paginate="fb in list | itemsPerPage: 10" class="table table-striped" style="table-layout:fixed;" ng-hide="voted" class="ng-hide">
  <caption style="background-color:#EDEDED;padding:25px;word-wrap:break-word;">{{fb.feedback_content}}</caption>
    <thead style="background-color:#EDEDED;margin-bottom:25px;">
      <th>Considered</th>
      <th>actionable</th>
      <th>Recommend</th>
      <th>kind</th>
      <th></th>
  </thead>
    <tbody style="background-color:#EDEDED;">
      <tr style="background-color:#EDEDED;">
      <td>{{fb.considered}}</td>
      <td>{{fb.actionable}}</td>
      <td>{{fb.recommend}}</td>
      <td>{{fb.motivated}}</td>
      <td></td>
     </tr>
      <tr>
        <td colspan=5>
          <form name="ReviewForm" style="background-color:#EDEDED;" ng-submit="submitReview(fb.id,ReviewForm.specific,ReviewForm.actionable,ReviewForm.kind)" novalidate>
            <ng-form name="ReviewValidation">
            <h4> Do you think this piece of feedback is... </h4>
            <h5>Specific </h5>
              <label class="radio-inline"><input type="radio" name="specific" ng-model="ReviewForm.specific" value="1" required>1 </label>
              <label class="radio-inline"><input type="radio" name="specific" ng-model="ReviewForm.specific" value="2" required>2 </label>
              <label class="radio-inline"><input type="radio" name="specific" ng-model="ReviewForm.specific" value="3" required>3 </label>
              <label class="radio-inline"><input type="radio" name="specific" ng-model="ReviewForm.specific" value="4" required>4 </label>
              <label class="radio-inline"><input type="radio" name="specific" ng-model="ReviewForm.specific" value="5" required>5 </label>
              <span ng-show="ReviewValidation.specific.$pristine && ReviewValidation.specific.$invalid">
                <span ng-show="ReviewValidation.specific.$error.required" style="color:red">Please select an option</span>
              </span>
            <h5>Actionable </h5>
              <label class="radio-inline"><input type="radio" name="actionable" ng-model="ReviewForm.actionable" value="1" required>1 </label>
              <label class="radio-inline"><input type="radio" name="actionable" ng-model="ReviewForm.actionable" value="2" required>2 </label>
              <label class="radio-inline"><input type="radio" name="actionable" ng-model="ReviewForm.actionable" value="3" required>3 </label>
              <label class="radio-inline"><input type="radio" name="actionable" ng-model="ReviewForm.actionable" value="4" required>4 </label>
              <label class="radio-inline"><input type="radio" name="actionable" ng-model="ReviewForm.actionable" value="5" required>5 </label>
              <span ng-show="ReviewValidation.actionable.$pristine && ReviewValidation.actionable.$invalid">
                <span ng-show="ReviewValidation.actionable.$error.required" style="color:red">Please select an option</span>
              </span>
            <h5> Kind </h5>
              <label class="radio-inline"><input type="radio" name="kind" ng-model="ReviewForm.kind" value="1" required>1 </label>
              <label class="radio-inline"><input type="radio" name="kind" ng-model="ReviewForm.kind" value="2" required>2 </label>
              <label class="radio-inline"><input type="radio" name="kind" ng-model="ReviewForm.kind" value="3" required>3 </label>
              <label class="radio-inline"><input type="radio" name="kind" ng-model="ReviewForm.kind" value="4" required>4 </label>
              <label class="radio-inline"><input type="radio" name="kind" ng-model="ReviewForm.kind" value="5" required>5 </label>
              <span ng-show="ReviewValidation.kind.$pristine && ReviewValidation.kind.$invalid">
                <span ng-show="ReviewValidation.kind.$error.required" style="color:red">Please select an option</span>
              </span>
            </br>
            </br>
            <input type="submit" class="btn btn-inverse" id="submit" value="Submit" ng-disabled="ReviewValidation.kind.$invalid || ReviewValidation.actionable.$invalid || ReviewValidation.specific.$invalid" class="ng-hide-add" ng-click="voted = true;"/>
            </ng-form>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <dir-pagination-controls></dir-pagination-controls>
</div>