<h1> Rate Feedbacks </h1>
<div ng-controller="FeedbackController">
  <table class="table table-striped" ng-repeat="fb in list" style="table-layout:fixed;" ng-hide="voted" class="ng-hide">
    <thead style="background-color:#EDEDED;">
      <th>Considered</th>
      <th>Best</th>
      <th>Recommend</th>
      <th>Motivated</th>
      <th> Rate Feedback </th>
  </thead>
  <tbody style="background-color:#EDEDED;">
      <tr style="background-color:#EDEDED;">
      <td>{{fb.considered}}</td>
      <td>{{fb.best}}</td>
      <td>{{fb.recommend}}</td>
      <td>{{fb.motivated}}</td>
      <td><input type="submit" ng-click="vote('good',fb.id);voted = true" value="Good"><input type="submit" value="Bad" ng-click="vote('bad',fb.id);voted = true"></td>
  </tr>
      <tr>
      <td colspan=5 style="word-wrap:break-word;">{{fb.feedback_content}}</td>
      </tr>
    </tbody>
  </table>
</div>