<h1> Write a new feedback </h1>
<form name="FeedbackForm" ng-controller="FeedbackController as feedback" ng-submit="submit()" style="background-color:#EDEDED;"novalidate>
    <h5>Employee name(email) :</h5>
    <input type="email" name="username" placeholder="email@provider.com" ng-model="feedback.name" typeahead="state for state in states | filter:$viewValue" required/>
      <span ng-show="FeedbackForm.username.$dirty && FeedbackForm.username.$invalid">
        <p ng-show="FeedbackForm.username.$error.required" style="color:red">Employee email is required.</p>
        <p ng-show="FeedbackForm.username.$error.email" style="color:red">Invalid email address.</p>
      </span>
    <h5>Feedback : </h5>
    <textarea name="feedback" class="autogrow" placeholder="Type your feedback here." style="width: 100%; height: 100px; padding: 10px; overflow: hidden; resize: none;" ng-model="feedback.feedback_content" ng-minlength="250" required></textarea>
    <span ng-show="FeedbackForm.feedback.$dirty && FeedbackForm.feedback.$invalid">
      <p ng-show="FeedbackForm.feedback.$error.minlength" style="color:red">Your feedback should be 250char minimum</p>
      <p ng-show="FeedbackForm.feedback.$error.required" style="color:red">Feedback is required.</p>
    </span>
    <h5>I felt inspired and motivated by {{feedback.name}}</h5>
    <input type="radio" name="motivated" ng-model="feedback.motivated" value="Never" required>Never
    <input type="radio" name="motivated" ng-model="feedback.motivated" value="Rarely" required>Rarely
    <input type="radio" name="motivated" ng-model="feedback.motivated" value="Sometimes" required>Sometimes
    <input type="radio" name="motivated" ng-model="feedback.motivated" value="Mostly" required>Mostly
    <input type="radio" name="motivated" ng-model="feedback.motivated" value="Always" required>Always
    <input type="radio" name="motivated" ng-model="feedback.motivated" value="N/A" required>N/A
    <span ng-show="FeedbackForm.motivated.$pristine && FeedbackForm.motivated.$invalid">
      <p ng-show="FeedbackForm.motivated.$error.required" style="color:red">Please select an option</p>
    </span>
    </br>
    <h5>While we were working, {{feedback.name}} was doing their best and giving 100% of their effort.</h5>
    <input type="radio" name="best" ng-model="feedback.best" value="Never" required>Never
    <input type="radio" name="best" ng-model="feedback.best" value="Rarely" required>Rarely
    <input type="radio" name="best" ng-model="feedback.best" value="Sometimes" required>Sometimes
    <input type="radio" name="best" ng-model="feedback.best" value="Mostly" required>Mostly
    <input type="radio" name="best" ng-model="feedback.best" value="Always" required>Always
    <input type="radio" name="best" ng-model="feedback.best" value="N/A" required>N/A
    <span  ng-show="FeedbackForm.best.$pristine && FeedbackForm.best.$invalid">
      <p ng-show="FeedbackForm.best.$error.required" style="color:red">Please select an option</p>
    </span>
    </br>
    <h5>I would happily work with {{feedback.name}} again and would recommend them to others.</h5>
    <input type="radio" name="recommend" ng-model="feedback.recommend" value="Never" required>Never
    <input type="radio" name="recommend" ng-model="feedback.recommend" value="Rarely" required>Rarely
    <input type="radio" name="recommend" ng-model="feedback.recommend" value="Sometimes" required>Sometimes
    <input type="radio" name="recommend" ng-model="feedback.recommend" value="Mostly" required>Mostly
    <input type="radio" name="recommend" ng-model="feedback.recommend" value="Always" required>Always
    <input type="radio" name="recommend" ng-model="feedback.recommend" value="N/A" required>N/A
    <span  ng-show="FeedbackForm.recommend.$pristine && FeedbackForm.recommend.$invalid">
      <p ng-show="FeedbackForm.recommend.$error.required" style="color:red">Please select an option</p>
    </span>
    </br>
     <h5>I felt respected and considered by {{feedback.name}}</h5>
    <input type="radio" name="considered" ng-model="feedback.considered" value="Never" required>Never
    <input type="radio" name="considered" ng-model="feedback.considered" value="Rarely" required>Rarely
    <input type="radio" name="considered" ng-model="feedback.considered" value="Sometimes" required>Sometimes
    <input type="radio" name="considered" ng-model="feedback.considered" value="Mostly" required>Mostly
    <input type="radio" name="considered" ng-model="feedback.considered" value="Always" required>Always
    <input type="radio" name="considered" ng-model="feedback.considered" value="N/A" required>N/A
     <span ng-show="FeedbackForm.considered.$pristine && FeedbackForm.considered.$invalid">
       <p ng-show="FeedbackForm.considered.$error.required" style="color:red">Please select an option</p>
     </span>
    </br>
    <input type="submit" id="submit" value="Submit" ng-disabled="FeedbackForm.username.$dirty && FeedbackForm.username.$invalid ||
  FeedbackForm.feedback.$dirty && FeedbackForm.feedback.$invalid || FeedbackForm.feedback.motivated.$invalid || FeedbackForm.feedback.best.$invalid || FeedbackForm.feedback.recommend.$invalid || FeedbackForm.feedback.considered.$invalid"/>
    <h1>{{succes}}</h1>
</form>