<div class="col-md-4" style="padding:12px;" ng-repeat="question in List" ng-click="OpenQuestion(question.id)">
  <div style="background-color:#FDFDFD;padding:10px;">
    <h4 ng-click="OpenQuestion(question.id)" style="word-wrap: break-word;"> {{question.title}}</h4>
      <div class="testimonials">
        <div class="active item">
        <blockquote ng-click="OpenQuestion(question.id)"><p>{{question.content}}</p></blockquote>
        <div class="carousel-info">
          <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
          <div class="pull-left">
            <span class="testimonials-name">Lina Mars</span>
            <span class="testimonials-post">Commercial Director</span>
          </div>
          <div class="pull-right">
            <input type="submit" ng-click="vote('up',question.id)" value="Up"><input type="submit" value="Down" ng-click="vote('down',question.id)">
            <h1>+3 </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
