<h1> Write a new Question </h1>
<form name="QuestionForm" ng-controller="QaController as question" ng-submit="submit()" style="background-color:#EDEDED;"novalidate>
    <h5>Title</h5>
    <input type="title" class='form-control input-lg' name="title" placeholder="Title" ng-model="question.title" required/>
      <span ng-show="QuestionForm.username.$dirty && QuestionForm.username.$invalid">
        <p ng-show="QuestionForm.username.$error.required" style="color:red">Employee title is required.</p>
        <p ng-show="QuestionForm.username.$error.title" style="color:red">Invalid title address.</p>
      </span>
    <h5>Description</h5>
    <textarea name="question" class="autogrow form-control input-lg" placeholder="Type your question here." style="width: 100%; height: 100px; padding: 10px; overflow: hidden; resize: none;" ng-model="question.question_content" ng-minlength="250" required></textarea>
    <span ng-show="QuestionForm.question.$dirty && QuestionForm.question.$invalid">
      <p ng-show="QuestionForm.question.$error.minlength" style="color:red">Your question should be 250char minimum</p>
      <p ng-show="QuestionForm.question.$error.required" style="color:red">question is required.</p>
    </span>
    </br>
    <input type="submit" id="submit" value="Submit" ng-disabled="QuestionForm.username.$dirty && QuestionForm.username.$invalid ||
  QuestionForm.question.$dirty && QuestionForm.question.$invalid"/>
    <h1>{{succes}}</h1>
</form>

<style>
@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
} 

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
        @include box-sizing(border-box);

        &:focus {
          z-index: 2;
        }
    }

.login-form {
    margin-top: 60px;
}

form {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
    form[role=login] img {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    form[role=login] input,
    form[role=login] button {
        font-size: 18px;
        margin: 16px 0;
    }
    form[role=login] > div {
        text-align: center;
    }
    
.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}
    .form-links a {
        color: #fff;
    }
</style>