
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li>
        <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="http://lorempixel.com/85/85/people/" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Marcus Doe
          </div>
          <div class="profile-usertitle-job">
            You have 3 new feedbacks
          </div>
        </div>
    </li>
      <li>
          <a href="javascript:;" data-toggle="collapse" data-parent="#proposalAccordian" data-target="#d1"><i class="fa fa-fw fa-gear"> </i>      Admin </a>
          <ul id="d1" class="collapse">
            <li><a ng-href="#/"><i class="fa fa-plus"></i>     Create a new team</a></li>
            <li><a ng-href="#/"><i class="fa fa-users"></i>     Manage teams</a></li>
            <li><a ng-href="#/">     Add Manager roles</a></li>
          </ul>
      </li>
      <li>
          <a href="javascript:;" data-toggle="collapse" data-parent="#proposalAccordian"  data-target="#d2"><i class="fa fa-pencil"></i>      Write Feedback </a>
          <ul id="d2" class="collapse">
            <li><a ng-href="#/feedback/new"><i class="fa fa-plus-circle"></i>     Give a Personal Feedback</a></li>
            <li><a ng-href="#/new"><i class="fa fa-bullhorn"></i>     Shoutout</a></li>
            <li><a ng-href="#/new"><i class="fa fa-info-circle"></i>     Help!</a></li>
            <li><a ng-href="#/new"><i class="fa fa-heart-o"></i>     Happy</a></li>
          </ul>
      </li>
      <li>
          <a href="javascript:;" data-toggle="collapse" data-parent="#proposalAccordian"  data-target="#d3"><i class="fa fa-lightbulb-o"></i>     Feedbacks</a>
          <ul id="d3" class="collapse">
            <li><a ng-href="#/feedbacks"><i class="fa fa-newspaper-o"></i>     My Feedbacks</a></li>
            <li><a ng-href="#/dashboard"><i class="fa fa-star"></i>     Rate Feedbacks</a></li>
            <li><a ng-href="#/reviews"><i class="fa fa-tachometer"></i>     Feedback Reviews</a></li>
          </ul>
      </li>
      <li>
          <a href="javascript:;" data-toggle="collapse" data-parent="#proposalAccordian" data-target="#d4"><i class="fa fa-comment"></i>     Open Questions </a>
          <ul id="d4" class="collapse">
            <li><a ng-href="#/openquestions/new"><i class="fa fa-question-circle"></i>     Ask a Question</a>
            <li><a ng-href="#/openquestions"><i class="fa fa-list"></i>     All Questions</a></li>
          </ul>
      </li>
<!--       <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#d5"><i class="fa fa-bullhorn"></i>     Survey </a>
          <ul id="d5" class="collapse">
            <li><a ng-href="#/myfb">Create a New Survey</a></li>
            <li><a ng-href="#/myfb">Manage my Surveys</a></li>
            <li><a ng-href="#/myfb">Answer Surveys</a></li>
          </ul>
      </li> -->
  </ul>
</div>


