
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li>
<div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="http://lorempixel.com/85/85/people/" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Marcus Doe
          </div>
          <div class="profile-usertitle-job">
            You have 3 new feedbacks
          </div>
        </div>
    </li>
      <li>
          <a href="javascript:;" data-toggle="collapse" data-parent="#proposalAccordian" data-target="#d1"><i class="fa fa-fw fa-gear"> </i>      Admin </a>
          <ul id="d1" class="collapse">
            <li><a ng-href="#/"><i class="fa fa-plus"></i>     Create a new team</a></li>
            <li><a ng-href="#/"><i class="fa fa-users"></i>     Manage teams</a></li>
            <li><a ng-href="#/">     Add Manager roles</a></li>
          </ul>
      </li>

      <li>
          <a href="javascript:;" data-toggle="collapse" data-parent="#proposalAccordian"  data-target="#d2"><i class="fa fa-pencil"></i>      Write Feedback </a>
          <ul id="d2" class="collapse">
            <li><a ng-href="#/new"><i class="fa fa-plus-circle"></i>     Give a Personal Feedback</a></li>
            <li><a ng-href="#/new"><i class="fa fa-bullhorn"></i>     Shoutout</a></li>
            <li><a ng-href="#/new"><i class="fa fa-info-circle"></i>     Help!</a></li>
            <li><a ng-href="#/new"><i class="fa fa-heart-o"></i>     Happy</a></li>
          </ul>
      </li>

      <li>
          <a href="javascript:;" data-toggle="collapse" data-parent="#proposalAccordian"  data-target="#d3"><i class="fa fa-lightbulb-o"></i>     Feedbacks</a>
          <ul id="d3" class="collapse">
            <li><a ng-href="#/myfb"><i class="fa fa-newspaper-o"></i>     My Feedbacks</a></li>
            <li><a ng-href="#/dashboard"><i class="fa fa-star"></i>     Rate Feedbacks</a></li>
            <li><a ng-href="#/reviews"><i class="fa fa-tachometer"></i>     Feedback Reviews</a></li>
          </ul>
      </li>

      <li>
          <a href="javascript:;" data-toggle="collapse" data-parent="#proposalAccordian" data-target="#d4"><i class="fa fa-comment"></i>     Open Questions </a>
          <ul id="d4" class="collapse">
            <li><a ng-href="#/openquestions/new"><i class="fa fa-question-circle"></i>     Ask a Question</a>
            <li><a ng-href="#/openquestions"><i class="fa fa-list"></i>     All Questions</a></li>
          </ul>
      </li>
<!--       <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#d5"><i class="fa fa-bullhorn"></i>     Survey </a>
          <ul id="d5" class="collapse">
            <li><a ng-href="#/myfb">Create a New Survey</a></li>
            <li><a ng-href="#/myfb">Manage my Surveys</a></li>
            <li><a ng-href="#/myfb">Answer Surveys</a></li>
          </ul>
      </li> -->
  </ul>
</div>


        <style>
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 46px 3px 41px;
  background: #222;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}




        ul.nav a:hover { color: white; }
        ul.nav a:focus { color: white; }
        ul.nav a:active { color: white; }

        body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 17%;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 240px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 8px 0px 5px 20px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}
        </style>