<div class="col-sm-3 col-md-3">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-user">
          </span>Account</a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <a href="#">Change Password</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Notifications</a> <span class="label label-info">5</span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Import/Export</a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-trash text-danger"></span><a href="#" class="text-danger">
                Delete Account</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
          </span>Write Feedback</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <span class="glyphicon glyphicon-pencil text-primary"></span><a ng-href="#/new">Give a Personal Feedback</a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-pencil text-primary"></span><a ng-href="#/new">Shoutout</a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-pencil text-primary"></span><a ng-href="#/new">Help!</a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-pencil text-primary"></span><a ng-href="#/new">Happy</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
          </span>Feedbacks</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <a href="#myfb">My Feedbacks</a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-flash text-success"></span><a ng-href="#/dashboard">Rate Feedbacks</a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-pencil text-primary"></span><a ng-href="#/new">Feedback Reviews</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
          </span>Open Questions</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <a href="#">Ask a Question</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Tech Departement</a> <span class="label label-info">5</span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Design Departement</a> <span class="label label-info">40</span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">HR Departement</a> <span class="label label-info">69</span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Ecommerce Departement</a> <span class="label label-info">420</span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">NASA Departement</a> <span class="label label-info">13</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-th">
          </span>Survey</a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <a href="#myfb">Create a New Survey</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#myfb">Manage my Surveys</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#myfb">Answer Surveys</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>